aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiomqtt==2.5.1
aiosignal==1.4.0
asyncclick==8.4.2.1
asyncio-mqtt==0.16.2
attrs==26.1.0
cffi==2.1.1
cryptography==50.0.0
ecdsa==0.19.2
frozenlist==1.8.0
idna==3.18
mashumaro==3.22
mqtt5==0.8.0
multidict==6.7.1
paho-mqtt==2.1.0
passlib==1.7.4
propcache==0.5.2
pycparser==3.0
python-kasa @ git+https://github.com/ZeliardM/python-kasa.git@e7084472972f08f2e2235b342f3964aedbfaeb3b
PyYAML==6.0.3
six==1.17.0
typing_extensions==4.16.0
tzdata==2026.3
yarl==1.24.5
